In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('datos_filtrados.csv')
datos.head()

,COLE_AREA_UBICACION,COLE_BILINGUE,COLE_CALENDARIO,COLE_CARACTER,COLE_GENERO,COLE_JORNADA,COLE_MCPIO_UBICACION,COLE_NATURALEZA,COLE_NOMBRE_ESTABLECIMIENTO,COLE_NOMBRE_SEDE,...,FAMI_TIENEAUTOMOVIL,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET,FAMI_TIENELAVADORA,PUNT_INGLES,PUNT_MATEMATICAS,PUNT_SOCIALES_CIUDADANAS,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_GLOBAL
0,URBANO,N,A,ACADÉMICO,MIXTO,MAÑANA,MEDELLIN,OFICIAL,INST EDUC MONSEÑOR GERARDO VALENCIA CANO,INST EDUC MONSEÑOR GERARDO VALENCIA CANO,...,Si,Si,Si,Si,61.0,60.00,60.0,63.0,64.0,308.0
1,RURAL,N,A,TÉCNICO/ACADÉMICO,MIXTO,COMPLETA,SONSON,OFICIAL,I. E. R. SAN MIGUEL,I. E. R. SAN MIGUEL,...,No,Si,No,Si,42.0,45.00,39.0,39.0,48.0,213.0
2,URBANO,N,A,ACADÉMICO,MIXTO,COMPLETA,ENTRERRIOS,OFICIAL,I. E. ENTRERRIOS,LICEO SAN LUIS BELTRAN,...,No,Si,Si,Si,40.0,35.00,40.0,41.0,49.0,206.0
3,RURAL,N,A,ACADÉMICO,MIXTO,SABATINA,GÓMEZ PLATA,OFICIAL,INSTITUCION EDUCATIVA RURAL EL SALTO,LICEO EL SALTO,...,No,No,No,No,50.1,60.51,NaN,NaN,NaN,NaN
4,URBANO,NaN,A,TÉCNICO,MIXTO,COMPLETA,LA CEJA,NO OFICIAL,INSTITUTO ACISCOM,INSTITUTO ACISCOM - SEDE PRINCIPAL,...,No,Si,Si,Si,52.0,75.00,NaN,NaN,NaN,NaN

In [3]:
datos.shape

(1009317, 36)

In [4]:
datos.dtypes

COLE_AREA_UBICACION             object
COLE_BILINGUE                   object
COLE_CALENDARIO                 object
COLE_CARACTER                   object
COLE_GENERO                     object
COLE_JORNADA                    object
COLE_MCPIO_UBICACION            object
COLE_NATURALEZA                 object
COLE_NOMBRE_ESTABLECIMIENTO     object
COLE_NOMBRE_SEDE                object
COLE_SEDE_PRINCIPAL             object
ESTU_DEPTO_PRESENTACION         object
ESTU_DEPTO_RESIDE               object
ESTU_ESTADOINVESTIGACION        object
ESTU_FECHANACIMIENTO            object
ESTU_GENERO                     object
ESTU_MCPIO_PRESENTACION         object
ESTU_MCPIO_RESIDE               object
ESTU_NACIONALIDAD               object
ESTU_PAIS_RESIDE                object
ESTU_PRIVADO_LIBERTAD           object
FAMI_CUARTOSHOGAR               object
FAMI_EDUCACIONMADRE             object
FAMI_EDUCACIONPADRE             object
FAMI_ESTRATOVIVIENDA            object
FAMI_PERSONASHOGAR              object
FAMI_TIENEAUTOMOVIL             object
FAMI_TIENECOMPUTADOR            object
FAMI_TIENEINTERNET              object
FAMI_TIENELAVADORA              object
PUNT_INGLES                    float64
PUNT_MATEMATICAS               float64
PUNT_SOCIALES_CIUDADANAS       float64
PUNT_C_NATURALES               float64
PUNT_LECTURA_CRITICA           float64
PUNT_GLOBAL                    float64
dtype: object

In [5]:
# Número de valores vacios
datos.isna().sum()

COLE_AREA_UBICACION                 0
COLE_BILINGUE                  119388
COLE_CALENDARIO                   229
COLE_CARACTER                   12689
COLE_GENERO                         0
COLE_JORNADA                        0
COLE_MCPIO_UBICACION                0
COLE_NATURALEZA                     0
COLE_NOMBRE_ESTABLECIMIENTO         0
COLE_NOMBRE_SEDE                    0
COLE_SEDE_PRINCIPAL                 0
ESTU_DEPTO_PRESENTACION             8
ESTU_DEPTO_RESIDE                5140
ESTU_ESTADOINVESTIGACION            5
ESTU_FECHANACIMIENTO                0
ESTU_GENERO                       378
ESTU_MCPIO_PRESENTACION             3
ESTU_MCPIO_RESIDE                5140
ESTU_NACIONALIDAD                   5
ESTU_PAIS_RESIDE                    0
ESTU_PRIVADO_LIBERTAD               0
FAMI_CUARTOSHOGAR               17583
FAMI_EDUCACIONMADRE             25042
FAMI_EDUCACIONPADRE             25560
FAMI_ESTRATOVIVIENDA            28422
FAMI_PERSONASHOGAR              17200
FAMI_TIENEAUTOMOVIL             18749
FAMI_TIENECOMPUTADOR            18237
FAMI_TIENEINTERNET              24654
FAMI_TIENELAVADORA              17365
PUNT_INGLES                       170
PUNT_MATEMATICAS                    2
PUNT_SOCIALES_CIUDADANAS       414242
PUNT_C_NATURALES               414304
PUNT_LECTURA_CRITICA           414304
PUNT_GLOBAL                    414304
dtype: int64

In [10]:
# eliminar na de variables que tengan <=1% de na
columnas_eliminar_na = ['COLE_CALENDARIO','COLE_CARACTER','ESTU_DEPTO_PRESENTACION','ESTU_DEPTO_RESIDE','ESTU_ESTADOINVESTIGACION','ESTU_GENERO','ESTU_MCPIO_PRESENTACION','ESTU_MCPIO_RESIDE','ESTU_NACIONALIDAD','PUNT_INGLES','PUNT_MATEMATICAS','PUNT_GLOBAL']

In [11]:
datos.dropna(subset=columnas_eliminar_na, inplace=True)

In [12]:
datos.shape

(583602, 36)

In [13]:
# Número de valores vacios
datos.isna().sum()

COLE_AREA_UBICACION                0
COLE_BILINGUE                  70088
COLE_CALENDARIO                    0
COLE_CARACTER                      0
COLE_GENERO                        0
COLE_JORNADA                       0
COLE_MCPIO_UBICACION               0
COLE_NATURALEZA                    0
COLE_NOMBRE_ESTABLECIMIENTO        0
COLE_NOMBRE_SEDE                   0
COLE_SEDE_PRINCIPAL                0
ESTU_DEPTO_PRESENTACION            0
ESTU_DEPTO_RESIDE                  0
ESTU_ESTADOINVESTIGACION           0
ESTU_FECHANACIMIENTO               0
ESTU_GENERO                        0
ESTU_MCPIO_PRESENTACION            0
ESTU_MCPIO_RESIDE                  0
ESTU_NACIONALIDAD                  0
ESTU_PAIS_RESIDE                   0
ESTU_PRIVADO_LIBERTAD              0
FAMI_CUARTOSHOGAR              14117
FAMI_EDUCACIONMADRE            20675
FAMI_EDUCACIONPADRE            21165
FAMI_ESTRATOVIVIENDA           22690
FAMI_PERSONASHOGAR             13835
FAMI_TIENEAUTOMOVIL            15339
FAMI_TIENECOMPUTADOR           14189
FAMI_TIENEINTERNET             21057
FAMI_TIENELAVADORA             14000
PUNT_INGLES                        0
PUNT_MATEMATICAS                   0
PUNT_SOCIALES_CIUDADANAS           0
PUNT_C_NATURALES                   0
PUNT_LECTURA_CRITICA               0
PUNT_GLOBAL                        0
dtype: int64

In [27]:
columnas_a_imputar = ['COLE_BILINGUE','FAMI_CUARTOSHOGAR','FAMI_EDUCACIONMADRE','FAMI_EDUCACIONPADRE','FAMI_ESTRATOVIVIENDA','FAMI_PERSONASHOGAR','FAMI_TIENEAUTOMOVIL','FAMI_TIENECOMPUTADOR','FAMI_TIENEINTERNET','FAMI_TIENELAVADORA']

In [28]:
for columna in columnas_a_imputar:
    datos[columna].fillna(datos[columna].mode()[0], inplace=True)

C:\Users\SEBASTIAN\AppData\Local\Temp\ipykernel_2940\2313986433.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  datos[columna].fillna(datos[columna].mode()[0], inplace=True)

In [29]:
datos.shape

(583602, 36)

In [30]:
# Número de valores vacios
datos.isna().sum()

COLE_AREA_UBICACION            0
COLE_BILINGUE                  0
COLE_CALENDARIO                0
COLE_CARACTER                  0
COLE_GENERO                    0
COLE_JORNADA                   0
COLE_MCPIO_UBICACION           0
COLE_NATURALEZA                0
COLE_NOMBRE_ESTABLECIMIENTO    0
COLE_NOMBRE_SEDE               0
COLE_SEDE_PRINCIPAL            0
ESTU_DEPTO_PRESENTACION        0
ESTU_DEPTO_RESIDE              0
ESTU_ESTADOINVESTIGACION       0
ESTU_FECHANACIMIENTO           0
ESTU_GENERO                    0
ESTU_MCPIO_PRESENTACION        0
ESTU_MCPIO_RESIDE              0
ESTU_NACIONALIDAD              0
ESTU_PAIS_RESIDE               0
ESTU_PRIVADO_LIBERTAD          0
FAMI_CUARTOSHOGAR              0
FAMI_EDUCACIONMADRE            0
FAMI_EDUCACIONPADRE            0
FAMI_ESTRATOVIVIENDA           0
FAMI_PERSONASHOGAR             0
FAMI_TIENEAUTOMOVIL            0
FAMI_TIENECOMPUTADOR           0
FAMI_TIENEINTERNET             0
FAMI_TIENELAVADORA             0
PUNT_INGLES                    0
PUNT_MATEMATICAS               0
PUNT_SOCIALES_CIUDADANAS       0
PUNT_C_NATURALES               0
PUNT_LECTURA_CRITICA           0
PUNT_GLOBAL                    0
dtype: int64

In [31]:
datos.to_csv('datos_limpios.csv')